<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h2>How many numbers do you wish to generate?</h2>
    <form action="#" th:object="${generateObj}" th:action="@{/generate}" method="post">
        <p>
            <input type="text" th:field="*{noOfNumberToRandomize}">
            <input type="submit" value="Generate">
        </p>
    </form>
</body>
</html>